.MenuNav {
  width: 100%;
  background-color: cadetblue;
  height: 8vh;
}
.InputFive {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: cadetblue;
  color: #fff;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.InputFive:hover {
  background-color: #3e8e41;
}

.inputpok {
  margin-top: 10px;
  border-radius: 13px;
  font-size: x-large;
  font-family: "Courier New", Courier, monospace;
  background-color: grey;
}
